body{
background-color:#F5EBEB;
text-align:center;

}

card,img {
    float: left;
    width:  100px;
    height: 200px;
    object-fit: cover;
}

.heading{
padding:3rem 0 1rem 0;
}

.card{
margin-bottom:1.5rem;
}
p{
margin:0.1rem;
}
.btn-group{
    margin:0 0 2rem 0;
}

